.DS_Store
_site/
styles.html
*.pptx
images/portfolio/teaching-spcs-ai-1.png
images/portfolio/skill-blob-2.png
images/portfolio/skill-blob-1.png
images/portfolio/mit-ll-research-old.png
images/portfolio/mit-ll-research-1.png
images/portfolio/ee-270-project.pdf
website.code-workspace
